<div class="segment-tools">
	<div class="form-group">
		<label>Count</label>
		<span>
			{{ctrl.count}}
		</span>
	</div>

	<div class="form-group" ng-show="ctrl.AppConfig.advancedOptions">
		<label>Connect only existing</label>
		<span>
			<boolean-field ng-model="ctrl.connectOnlyExisting"></boolean-field>
		</span>
	</div>

	<div class="form-group" ng-show="ctrl.AppConfig.advancedOptions">
		<label>Show normals</label>
		<span>
			<boolean-field ng-model="ctrl.mapManager.showSegmentNormals"></boolean-field>
		</span>
	</div>

	<div>
		<multi-select button-text="ctrl.visibleTypesButtonText" items="ctrl.visibleTypes"
			change="ctrl.onVisibleTypesChange()"></multi-select>
	</div>

	<div ng-show="ctrl.selectedObjects.length > 0">
		<div class="menu-label">Segment ID</div>
		<div class="menu-field">
			<p>{{ctrl.selectedId}}</p>
		</div>

		<div class="menu-label">Bottom Y</div>
		<div class="menu-field">
			<input type="text" ng-model="ctrl.segment.bottomY" validate="ctrl.validateInteger(value)"
				ng-change="ctrl.applyToAllSelected('bottomY')">
		</div>

		<div class="menu-label">Top Y</div>
		<div class="menu-field">
			<input type="text" ng-model="ctrl.segment.topY" validate="ctrl.validateInteger(value)"
				ng-change="ctrl.applyToAllSelected('topY')">
		</div>

		<div class="menu-label">TV screen</div>
		<div class="menu-field">
			<input type="checkbox" ng-model="ctrl.segment.tvScreen" ng-change="ctrl.onTVScreenChange()">
		</div>

		<div class="menu-label">Switch</div>
		<div class="menu-field">
			<input type="checkbox" ng-model="ctrl.segment.switch" ng-change="ctrl.onSwitchChange()">
		</div>

		<div class="menu-label">Texture</div>
		<div class="menu-field">
			<input type="text" ng-model="ctrl.segment.texId" ng-change="ctrl.applyToAllSelected('texId')">
		</div>
	</div>

	<div class="buttons">
		<button type="button" class="btn btn-primary" ng-click="ctrl.onConvertToSectorsClick()">Convert selected segments to sectors</button>
		<button type="button" class="btn btn-primary" ng-click="ctrl.onFlipNormalsClick()" ng-show="ctrl.AppConfig.advancedOptions">
			Flip normals for selected segments</button>
		<button type="button" class="btn btn-primary" ng-click="ctrl.onRegenerateSidesClick()">Regenerate sides</button>
	</div>
</div>