<div class="segment-tools">
	<div class="form-group">
		<label>Count</label>
		<span>
			{{ctrl.count}}
		</span>
	</div>

	<div class="form-group" ng-show="ctrl.AppConfig.advancedOptions">
		<label>Connect only existing</label>
		<span>
			<input type="checkbox" ng-model="ctrl.connectOnlyExisting">
		</span>
	</div>

	<div class="form-group" ng-show="ctrl.AppConfig.advancedOptions">
		<label>Show normals</label>
		<span>
			<input type="checkbox" ng-model="ctrl.mapManager.showSegmentNormals">
		</span>
	</div>

	<div>
		<multi-select button-text="ctrl.visibleTypesButtonText" items="ctrl.visibleTypes"
			change="ctrl.onVisibleTypesChange()"></multi-select>
	</div>

	<div ng-show="ctrl.selectedObjects.length > 0" style="margin-top: 5px;">
		<div class="form-group">
			<label>ID</label>
			<span>
				{{ctrl.selectedId}}
			</span>
		</div>

		<div class="form-group">
			<label>Bottom Y</label>
			<span>
				<input type="text" ng-model="ctrl.segment.bottomY" validate="ctrl.validateInteger(value)"
					ng-change="ctrl.applyToAllSelected('bottomY')">
			</span>
		</div>

		<div class="form-group">
			<label>Top Y</label>
			<span>
				<input type="text" ng-model="ctrl.segment.topY" validate="ctrl.validateInteger(value)"
					ng-change="ctrl.applyToAllSelected('topY')">
			</span>
		</div>

		<div class="form-group">
			<label>TV screen</label>
			<span>
				<input type="checkbox" ng-model="ctrl.segment.tvScreen" ng-change="ctrl.onTVScreenChange()">
			</span>
		</div>

		<div class="form-group">
			<label>Switch</label>
			<span>
				<input type="checkbox" ng-model="ctrl.segment.switch" ng-change="ctrl.onSwitchChange()">
			</span>
		</div>

		<div class="form-group" ng-show="ctrl.segment.tvScreen">
			<label>Texture</label>
			<span>
				<input type="text" ng-model="ctrl.segment.texId" ng-change="ctrl.applyToAllSelected('texId')">
			</span>
		</div>
	</div>

	<div class="buttons">
		<button type="button" class="btn btn-primary" ng-click="ctrl.onConvertToSectorsClick()">Convert selected segments to sectors</button>
		<button type="button" class="btn btn-primary" ng-click="ctrl.onFlipNormalsClick()" ng-show="ctrl.AppConfig.advancedOptions">
			Flip normals for selected segments</button>
		<button type="button" class="btn btn-primary" ng-click="ctrl.onRegenerateSidesClick()">Regenerate sides</button>
	</div>
</div>