* {
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

canvas {
	position: fixed;
	cursor: default;
}

#canvas-container {
}

#menu-container {
	width: 300px;
	overflow: auto;
}

.hide {
	display: none;
}

.no-fixed-height {
	height: auto;
}