<div class="toolbox">
	<div class="panel panel-primary file-buttons">
		<input type="file" id="field-import" class="hide">

		<button type="button" class="btn btn-primary" title="New" ng-click="ctrl.clearMap()">
			<i class="fa fa-file"></i>
		</button>
		<button type="button" class="btn btn-primary" title="Save" ng-click="ctrl.onSaveMapClick()">
			<i class="fa fa-save"></i>
		</button>
		<button type="button" class="btn btn-primary" title="Import" ng-click="ctrl.importMap()">
			<i class="fa fa-upload"></i>
		</button>
		<button type="button" class="btn btn-primary" title="Download" ng-click="ctrl.mapManager.downloadMap()">
			<i class="fa fa-download"></i>
		</button>
	</div>

	<div class="panel panel-primary" collapsible-panel collapsed>
		<div class="panel-heading">
			Map
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label>Map name</label>
				<span>
					<input type="text" ng-model="ctrl.mapManager.map.name" validate="ctrl.validateMapName(value)">
				</span>
			</div>

			<div class="form-group">
				<label>Has script file</label>
				<span>
					<input type="checkbox" ng-model="ctrl.mapManager.map.hasScript">
				</span>
			</div>

			<div class="form-group">
				<label>Start position</label>
				<span>
					X:<input type="text" class="position-text" ng-model="ctrl.mapManager.map.playerStartPosition.x"
						validate="ctrl.validateInteger(value)">
					Y:<input type="text" class="position-text" ng-model="ctrl.mapManager.map.playerStartPosition.y"
						validate="ctrl.validateInteger(value)">
				</span>
			</div>

			<div class="form-group">
				<label>Collision triangles</label>
				<span>
					{{ctrl.mapManager.map.triangleCount}}
				</span>
			</div>
		</div>
	</div>

	<div class="panel panel-primary" collapsible-panel collapsed>
		<div class="panel-heading">
			General
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label>Advanced options</label>
				<span>
					<input type="checkbox" ng-model="ctrl.AppConfig.advancedOptions">
				</span>
			</div>

			<div class="form-group">
				<label>Position</label>
				<span id="position-field"></span>
			</div>

			<div class="form-group">
				<label>Snap to grid</label>
				<span>
					<input type="checkbox" ng-model="ctrl.mapManager.snapToGrid">
				</span>
			</div>

			<div class="form-group" ng-hide="!ctrl.mapManager.snapToGrid">
				<label>Grid cell size</label>
				<span>
					<input type="text" class="pos-textbox" ng-model="ctrl.mapManager.map.cellSize"
						validate="ctrl.validatePositiveInteger(value)">
				</span>
			</div>
		</div>
	</div>

	<div class="panel panel-primary layer-panel" collapsible-panel>
		<div class="panel-heading">
			Layer
		</div>
		<div class="panel-body">
			<div class="btn-group layer-buttons">
				<label class="btn btn-primary" style="width: 30%" ng-model="ctrl.layer" uib-btn-radio="ctrl.MapLayers.Segment">Segment</label>
				<label class="btn btn-primary" style="width: 24%" ng-model="ctrl.layer" uib-btn-radio="ctrl.MapLayers.Sector">Sector</label>
				<label class="btn btn-primary" style="width: 24%" ng-model="ctrl.layer" uib-btn-radio="ctrl.MapLayers.Entity">Entity</label>
				<label class="btn btn-primary" style="width: 22%" ng-model="ctrl.layer" uib-btn-radio="ctrl.MapLayers.Zone">Zone</label>
			</div>
			<div class="inner">
				<div class="form-group">
					<label>Mode</label>
					<span>
						<div class="btn-group editor-mode">
							<label class="btn btn-primary" ng-model="ctrl.layerTools[ctrl.layer].mode" uib-btn-radio="ctrl.EditorModes.Selecting"
								ng-change="ctrl.onEditorModeChange()" title="Select">
								<i class="fa fa-mouse-pointer"></i>
							</label>
							<label class="btn btn-primary" ng-model="ctrl.layerTools[ctrl.layer].mode" uib-btn-radio="ctrl.EditorModes.Drawing"
								ng-disabled="ctrl.layer === ctrl.MapLayers.Sector" ng-change="ctrl.onEditorModeChange()" title="Draw">
								<i class="fa fa-pencil"></i>
							</label>
						</div>
					</span>
				</div>

				<segment-tools ng-show="ctrl.layer === ctrl.MapLayers.Segment"></segment-tools>
				<sector-tools ng-show="ctrl.layer === ctrl.MapLayers.Sector"></sector-tools>
				<entity-tools ng-show="ctrl.layer === ctrl.MapLayers.Entity"></entity-tools>
				<zone-tools ng-show="ctrl.layer === ctrl.MapLayers.Zone"></zone-tools>
			</div>
		</div>
	</div>
</div>