<div class="toolbox">
	<div class="menu-label">Map name</div>
	<div class="menu-field">
		<input type="text" ng-model="ctrl.mapManager.map.name" validate="ctrl.validateMapName(value)">
	</div>

	<div class="menu-label">Has script file</div>
	<div class="menu-field">
		<input type="checkbox" ng-model="ctrl.mapManager.map.hasScript">
	</div>

	<div class="menu-label">Collision triangles</div>
	<div class="menu-field"><p>{{ctrl.mapManager.map.triangleCount}}</p></div>

	<div class="menu-label">Position</div>
	<div class="menu-field"><p id="position-field"></p></div>

	<div class="menu-label">Start position</div>
	<div class="menu-field">
		<p>X:</p><input type="text" class="pos-textbox" ng-model="ctrl.mapManager.map.playerStartPosition.x"
			validate="ctrl.validateInteger(value)">
		<p>Y:</p><input type="text" class="pos-textbox" ng-model="ctrl.mapManager.map.playerStartPosition.y"
			validate="ctrl.validateInteger(value)">
	</div>

	<div class="menu-label">Snap to grid</div>
	<div class="menu-field">
		<input type="checkbox" ng-model="ctrl.mapManager.snapToGrid">
	</div>

	<div class="menu-label" ng-hide="!ctrl.mapManager.snapToGrid">Grid cell size</div>
	<div class="menu-field" ng-hide="!ctrl.mapManager.snapToGrid">
		<input type="text" ng-model="ctrl.mapManager.map.cellSize" validate="ctrl.validatePositiveInteger(value)"
			class="pos-textbox">
	</div>

	<div class="menu-separator"></div>

	<div class="menu-two-column-field">
		<div id="radio-layer" class="centered">
			<input type="radio" id="radio-layer-seg" name="radio-layer" ng-model="ctrl.layer"
				ng-value="ctrl.MapLayers.Segment">
			<label for="radio-layer-seg">Segments</label>
			<input type="radio" id="radio-layer-sec" name="radio-layer" ng-model="ctrl.layer"
				ng-value="ctrl.MapLayers.Sector">
			<label for="radio-layer-sec">Sectors</label>
			<input type="radio" id="radio-layer-ntt" name="radio-layer" ng-model="ctrl.layer"
				ng-value="ctrl.MapLayers.Entity">
			<label for="radio-layer-ntt">Entities</label>
			<input type="radio" id="radio-layer-zone" name="radio-layer" ng-model="ctrl.layer"
				ng-value="ctrl.MapLayers.Zone">
			<label for="radio-layer-zone">Zones</label>
		</div>
	</div>

	<div class="menu-separator"></div>

	<span ng-hide="ctrl.layer === ctrl.MapLayers.Sector">
		<div class="menu-label">Editor mode</div>
		<div class="menu-field">
			<div id="radio-editor-mode">
				<input type="radio" id="radio-editor-mode-draw" name="radio-editor-mode" ng-model="ctrl.layerTools[ctrl.layer].mode"
					ng-value="ctrl.EditorModes.Drawing" ng-change="ctrl.onEditorModeChange()">
				<label for="radio-editor-mode-draw">Draw</label>
				<input type="radio" id="radio-editor-mode-select" name="radio-editor-mode" ng-model="ctrl.layerTools[ctrl.layer].mode"
					ng-value="ctrl.EditorModes.Selecting" ng-change="ctrl.onEditorModeChange()">
				<label for="radio-editor-mode-select">Select</label>
			</div>
		</div>
	</span>

	<segment-tools ng-show="ctrl.layer === ctrl.MapLayers.Segment"></segment-tools>
	<sector-tools ng-show="ctrl.layer === ctrl.MapLayers.Sector"></sector-tools>
	<entity-tools ng-show="ctrl.layer === ctrl.MapLayers.Entity"></entity-tools>
	<zone-tools ng-show="ctrl.layer === ctrl.MapLayers.Zone"></zone-tools>

	<span id="menu-footer">
		<div class="menu-separator"></div>

		<input type="file" id="field-import" class="hide">

		<div class="menu-two-column-field">
			<input type="button" value="Import map" ng-click="ctrl.importMap()">
		</div>
		<div class="menu-two-column-field">
			<input type="button" value="Download map" ng-click="ctrl.mapManager.downloadMap()">
		</div>
		<div class="menu-two-column-field">
			<input type="button" value="Save map" ng-click="ctrl.onSaveMapClick()">
		</div>
		<div class="menu-two-column-field">
			<input type="button" value="Clear map" ng-click="ctrl.clearMap()">
		</div>
	</span>
</div>