<div class="sector-tools">
	<div class="form-group">
		<label>Count</label>
		<span>
			{{ctrl.count}}
		</span>
	</div>

	<div class="form-group" ng-show="ctrl.AppConfig.advancedOptions">
		<label>Visible triangles</label>
		<span>
			<select ng-model="ctrl.mapManager.sectorTriangleMode" convert-to-number>
				<option value="{{ctrl.SectorTriangleModes.None}}">None</option>
				<option value="{{ctrl.SectorTriangleModes.Rendering}}">Rendering</option>
				<option value="{{ctrl.SectorTriangleModes.Collision}}">Collision</option>
			</select>
		</span>
	</div>

	<div ng-show="ctrl.selectedObjects.length > 0">
		<div class="form-group">
			<label>ID</label>
			<span>
				{{ctrl.selectedId}}
			</span>
		</div>

		<div class="form-group">
			<label>Floor height</label>
			<span>
				<input type="text" ng-model="ctrl.sector.floorTopY" validate="ctrl.validateInteger(value)"
					ng-change="ctrl.onFloorHeightChange()">
			</span>
		</div>

		<div class="form-group">
			<label>Ceiling</label>
			<span>
				<input type="checkbox" ng-model="ctrl.sector.ceiling" ng-change="ctrl.applyToAllSelected('ceiling')">
			</span>
		</div>

		<div class="form-group">
			<label>Floor-ceiling dist.</label>
			<span>
				<input type="text" ng-model="ctrl.sector.floorCeilDist" validate="ctrl.validatePositiveInteger(value)"
					ng-change="ctrl.onFloorCeilDistChange()">
			</span>
		</div>

		<div class="form-group">
			<label>Ceiling thickness</label>
			<span>
				<input type="text" ng-model="ctrl.sector.ceilThickness" validate="ctrl.validatePositiveInteger(value)"
					ng-change="ctrl.onCeilThicknessChange()">
			</span>
		</div>

		<div class="form-group">
			<label>Door</label>
			<span>
				<input type="checkbox" ng-model="ctrl.sector.door" ng-change="ctrl.onDoorChange()">
			</span>
		</div>

		<div class="form-group" ng-show="ctrl.sector.door">
			<label>Door max height</label>
			<span>
				<input type="text" ng-model="ctrl.sector.doorMaxHeight" validate="ctrl.validateInteger(value)"
					ng-change="ctrl.applyToAllSelected('doorMaxHeight')">
			</span>
		</div>

		<div class="form-group">
			<label>Elevator</label>
			<span>
				<input type="checkbox" ng-model="ctrl.sector.elevator" ng-change="ctrl.onElevatorChange()">
			</span>
		</div>

		<div class="form-group" ng-show="ctrl.sector.elevator">
			<label>Elevator max height</label>
			<span>
				<input type="text" ng-model="ctrl.sector.elevatorMaxHeight" validate="ctrl.validateInteger(value)"
					ng-change="ctrl.applyToAllSelected('elevatorMaxHeight')">
			</span>
		</div>

		<div class="form-group" ng-show="ctrl.sector.door || ctrl.sector.elevator">
			<label>Use vertex colors</label>
			<span>
				<input type="checkbox" ng-model="ctrl.sector.useVertexColors" ng-change="ctrl.applyToAllSelected('useVertexColors')">
			</span>
		</div>

		<div class="form-group" ng-show="ctrl.sector.elevator && !ctrl.sector.useVertexColors">
			<label>Floor texture</label>
			<span>
				<input type="text" ng-model="ctrl.sector.floorTexId" ng-change="ctrl.applyToAllSelected('floorTexId')">
			</span>
		</div>

		<div class="form-group" ng-show="ctrl.sector.door && !ctrl.sector.useVertexColors">
			<label>Ceiling texture</label>
			<span>
				<input type="text" ng-model="ctrl.sector.ceilTexId" ng-change="ctrl.applyToAllSelected('ceilTexId')">
			</span>
		</div>

		<div class="form-group" ng-show="(ctrl.sector.door || ctrl.sector.elevator) && !ctrl.sector.useVertexColors">
			<label>Side texture</label>
			<span>
				<input type="text" ng-model="ctrl.sector.sideTexId" ng-change="ctrl.applyToAllSelected('sideTexId')">
			</span>
		</div>

		<div class="form-group">
			<label>Light level</label>
			<span>
				<input type="text" ng-model="ctrl.sector.lightLevel" validate="ctrl.validateLightLevel(value)"
					ng-change="ctrl.applyToAllSelected('lightLevel')">
			</span>
		</div>

		<div class="form-group">
			<label>Light color</label>
			<span>
				<input type="color" ng-model="ctrl.sector.lightColorStyle" ng-change="ctrl.onLightColorChange()">
			</span>
		</div>
	</div>
</span>