<span class="sector-tools">
	<div class="menu-label">Sector count</div>
	<div class="menu-field">
		<p>{{ctrl.count}}</p>
	</div>

	<div class="menu-label">Triangles</div>
	<div class="menu-field">
		<div id="radio-sec-tri-mode">
			<input type="radio" id="radio-sec-tri-mode-none" name="radio-sec-tri-mode"
				ng-model="ctrl.mapManager.sectorTriangleMode" ng-value="ctrl.SectorTriangleModes.None">
			<label for="radio-sec-tri-mode-none">None</label>
			<input type="radio" id="radio-sec-tri-mode-rendering" name="radio-sec-tri-mode-rendering"
				ng-model="ctrl.mapManager.sectorTriangleMode" ng-value="ctrl.SectorTriangleModes.Rendering">
			<label for="radio-sec-tri-mode-rendering" title="Rendering">Rnd</label>
			<input type="radio" id="radio-sec-tri-mode-collision" name="radio-sec-tri-mode-collision"
				ng-model="ctrl.mapManager.sectorTriangleMode" ng-value="ctrl.SectorTriangleModes.Collision">
			<label for="radio-sec-tri-mode-collision" title="Collision">Col</label>
		</div>
	</div>

	<span id="sec-tools-detail" class="detail">
		<div class="menu-separator"></div>
		<div class="menu-label">Sector ID</div>
		<div class="menu-field">
			<p id="sec-selected-id"></p>
		</div>
		<div class="menu-label">Floor height</div>
		<div class="menu-field">
			<input type="text" id="sec-selected-floor-height">
		</div>
		<div class="menu-label">Ceiling</div>
		<div class="menu-field">
			<input type="checkbox" id="chk-sec-ceil">
		</div>
		<div class="menu-label">Floor-ceiling dist.</div>
		<div class="menu-field">
			<input type="text" id="sec-selected-floor-ceil-dist">
		</div>
		<div class="menu-label">Ceiling thickness</div>
		<div class="menu-field">
			<input type="text" id="sec-selected-ceil-thickness">
		</div>
		<div class="menu-label">Door</div>
		<div class="menu-field">
			<input type="checkbox" id="chk-sec-door">
		</div>
		<div class="menu-label">Door max height</div>
		<div class="menu-field">
			<input type="text" id="sec-selected-door-max-height">
		</div>
		<div class="menu-label">Elevator</div>
		<div class="menu-field">
			<input type="checkbox" id="chk-sec-elevator">
		</div>
		<div class="menu-label">Elevator max height</div>
		<div class="menu-field">
			<input type="text" id="sec-selected-elevator-max-height">
		</div>
		<div class="menu-label">Use vertex colors</div>
		<div class="menu-field">
			<input type="checkbox" id="chk-sec-use-vertex-colors">
		</div>
		<div class="menu-label">Floor texture</div>
		<div class="menu-field">
			<input type="text" id="sec-selected-floor-tex">
		</div>
		<div class="menu-label">Ceiling texture</div>
		<div class="menu-field">
			<input type="text" id="sec-selected-ceil-tex">
		</div>
		<div class="menu-label">Side texture</div>
		<div class="menu-field">
			<input type="text" id="sec-selected-side-tex">
		</div>
		<div class="menu-label">Light level</div>
		<div class="menu-field">
			<p id="sec-selected-light-level-text">0</p>
			<div id="sec-selected-light-level"></div>
		</div>
		<div class="menu-label">Light color</div>
		<div class="menu-field">
			<input type="color" id="sec-selected-light-color">
		</div>
	</span>
</span>